.exploration {
    text-align: center;
    background-color: #F6F6F6;
    padding: 44px 20px 57px 20px;
    &__heading {
        margin-left: 25px;
        margin-right: 25px;
    }
    &__text {
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 300;
    }
    &__btn {
        padding: 15px 22px;
        border-radius: 40px;
        border: 0;
        background: linear-gradient(0deg, $color-primary, $color-secondary);
        color: white;
        box-shadow: 1px 4px 15px -7px black;
        font-size: 15px;
    }
}