.menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    margin-top: -45px;
    padding: 45px 10px;
    position: relative;
    &__header {
        display: grid;
        grid-template-columns: 1fr 26px 28px;
        &__heading {
            font-family: "Shrikhand";
            font-size: 1.750em;
            font-weight: 500;
            padding: 0px 10px;
            @include margin-block;
        }
        &__icons {
            height: 26px;
            margin-top: 5px;
            position: relative;
            cursor: pointer;
            &:hover {
                .heart-empty {
                    opacity: 0;
                    transition-duration: 0.25s;
                }
                .heart-full{
                    opacity: 1;
                    
                }
            }
            &__heart {
                font-size: 26px;
            }
            .heart-full {
                background: linear-gradient(0deg, #FF79DA, #9356DC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                top: 0;
                left:0;
                opacity: 0;
                transition-duration: 0.25s;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 43px;
        margin: 35px 0px 50px;
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
        }
        &__category {
            &__heading {
                text-transform: uppercase;
                font-size: 1.000em;
                font-weight: 300;
                padding: 0px 10px 8px 10px;
                @include margin-block;
                position: relative;
                &::after {
                    content: "";
                    width: 40px;
                    height: 4px;
                    background-color: #99e2d0;
                    position: absolute;
                    left: 10px;
                    bottom: 0px;
                }
            }
            &__listing {
                display: grid;
                grid-template-columns: 100%;
                row-gap: 13px;
                margin-top: 13px;
                &__choice {
                    background-color: white;
                    box-shadow: 1px 3px 14px -7px grey;
                    border-radius: 15px;
                    cursor: pointer;
                    display: flex;
                    overflow: hidden;
                    &:hover {
                        .check {
                            width: 59px;
                        }
                        .fa-check-circle {
                            transform: rotate(360deg);
                        }   
                    }
                    &__description {
                        padding: 10px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        flex: 1;
                        &__title {
                            @include margin-block;
                            font-weight: 400;
                            font-size: 1.165em;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        &__text {
                            @include margin-block;
                            font-weight: 300;
                            margin-top: 7px;
                            font-size: 0.96em;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    &__price {
                        @include margin-block;
                        font-weight: 500;
                        margin-top: 39px;
                        margin-right: 23px;
                        transition: transform 1s;
                    }   
                    &__check {
                        background-color: $color-tertiary;
                        border-radius: 0px 15px 15px 0px;
                        width: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition-property: width;
                        transition-duration: 1s;
                        &__circle {
                            color: white;
                            transition: transform 1s;
                        }
                    }
                }
            }
        }
    }
    &__button{
        text-align: center;
        &__btn {
            @include btn;
            padding: 15px 46px;
            cursor: pointer;
            &:hover {
                @include btn-hover;
            }
        }
    } 
}

@keyframes item-down {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@for $i from 0 to 10 {
    .delay-#{$i} {
        animation: item-down 0.5s ease-in-out $i*0.1s;
    }
  }

