

.restaurants {
    background-color: #F6F6F6;
    padding: 63px 20px;
    &__heading {
        @include margin-block;
        font-size: 1.5em;
        font-weight: 500;
    }
    &__list {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 20px;
        margin-top: 28px;
        @include laptop {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }
        &__link {
            border-radius: 20px;
            background-color: white;
            position: relative;
            text-decoration: none;
            height: 250px;
            &__new {
                position: absolute;
                background-color: $color-tertiary;
                color: #3A8767;
                font-size: 14px;
                font-weight: 500;
                padding: 7px 12px;
                border-radius: 2px;
                top: 13px;
                right: 13px
            }
            &__image {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
                height: 174px;
                object-fit: cover;
            }
            &__figure {
                display: grid;
                grid-template-columns: 1fr 26px 25px;
                color: black;
                &__description {
                    padding-left: 14px;
                    &__heading {
                        @include margin-block; 
                        padding-top: 17px;
                        font-size: 17px;
                        font-weight: 500;
                    }
                    &__text {
                        @include margin-block;
                        margin-top: 2px;
                        font-weight: 300;
                    }
                } 
                &__icons {
                    position: relative;
                    height: 26px;
                    margin-top: 17px;
                    &:hover {
                        .heart-empty {
                            opacity: 0;
                            transition-duration: 0.25s;
                        }
                        .heart-full{
                            opacity: 1;
                            
                        }
                    }
                    &__heart {
                        font-size: 26px; 
                    }
                    .heart-full {
                        background: linear-gradient(0deg, #FF79DA, #9356DC);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: absolute;
                        top: 0;
                        left:0;
                        opacity: 0;
                        transition-duration: 0.25s;
                    }
                }
            }
        }
    }
}
