.header {
    box-shadow: 0px 0px 6px 0px grey;
    z-index: 1000;
    position: relative;
    &__logo {
        width: 163px;
        display: block;
        margin: auto;
        padding-top: 23px;
        padding-bottom: 13px;
    }
}