.header {
    box-shadow: 0px 0px 6px 0px grey;
    z-index: 1000;
    position: relative;
    &__link {
        &__return {
            font-size: 22px;
            position: absolute;
            top: 25px;
            left: 23px;
            color: #353535;
        }
    }
    
    &__logo {
        width: 163px;
        display: block;
        margin: auto;
        padding: 23px 0px 13px 24px;
    }
}